* {
    box-sizing: border-box;
}

.html,
body {
    height: 100%;
}

.body {
    margin: 0px;
}

.h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0px;
}

a {
    text-decoration: none;
    color: #FFFFFF;
}

ul {
    margin: 0px;
    padding: 0px;
}

ul>li {
    margin: 0;
    padding: 0;
}

ul>li {
    list-style: none;
}

.wrapper {
    height: 100%;
    width: 100%;
    overflow: hidden;
    display: flex;
    justify-content: center;
}

.main-container {
    width: 1440px;
}

/* BOX1 + HERO START */

.box1 {
    background-image: url(/img/BackGround/Fon\ Section\ 1.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    min-height: 977px;
    background-size: 1640px 977px;
}

.header {}


.header__container {
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: yellow solid; */
    padding: 72px 135px;
}


.nav {}

.header__nav {
    display: flex;
    justify-content: center;
}

.nav__list {
    display: flex;
    justify-content: center;
    column-gap: 128px;
    flex-shrink: 0;
}

.nav__item {}

.nav__item:last-child {
    padding-right: none;
}

.nav__link {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 36px;
}

.hero {
    /* border: red solid; */
    max-height: 618px;
}

.hero__desc {}

.hero__container {
    /* border: white; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.hero__title {
    color: #FFFFFF;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 96px;
    line-height: 144px;
    margin: 0px;
}

.hero__subtitle {
    color: #FFFFFF;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 275;
    font-size: 24px;
    line-height: 36px;
    text-align: center;
    margin: 0px;
}

.btn {
    margin-top: 369px;
    width: 191px;
    height: 60px;
    background-color: #FFFFFF;
    border-radius: 8px;
    background-color: #00B43D;
    border: 1px solid #00B43D;
    box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05), 0px 0px 0px 4px #FEE4E2;
}

.hero__link {
    padding: 16px 71px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    text-align: center;
    padding: ;
}

/* BOX1 + HERO END */

/* SEPARATOR START */

.separator {
    overflow: hidden;
    margin: 0px;
    padding: 0px;
    display: flex;
    position: relative;
    min-height: 73px;
    background-color: #272727;
    justify-content: center;
    align-items: center;
}

.separator__circle {
    width: 41px;
    height: 41px;
    background-color: #000000;
    border-radius: 50%;
    overflow: hidden;
}

.separator__text {
    position: absolute;
    color: #FFFFFF;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 900;
    font-size: 32px;
    line-height: 28px;
}

/* SEPARATOR END */

/* BOX2 + PLACES START */

.box2 {
    background-image: url(/img/BackGround/Fon\ Section\ 2.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 959px;
    /* background-size: 1640px; */
}

.places {}

.places__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.places__title {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 40px;
    line-height: 60px;
    color: #FFFFFF;
    padding-top: 128px;
}

.places__slider {
    padding: 54px 42px;
    position: relative;
    width: 100%;
}

.places__list {
    display: flex;
    justify-content: space-between;
    column-gap: 24px;
}

.places__list:last-child {
    column-gap: 0px;
}


.places__item {
    width: 320px;
    height: 586px;
    background-color: rgba(88, 88, 88, 0.5);
}

.card {}

.card__img {
    width: 100%;
    height: 252px;
    padding: 24px;
}

.places__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.card__desc {
    padding-left: 24px;
    padding-right: 74px;
}

.card__name {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    line-height: 48px;
    color: #FFFFFF;
}

.card__info {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
}

.card__more {
    padding-left: 176px;
    padding-right: 24px;
    padding-top: 52px;
}

.card__btn {
    width: 96px;
    height: 39px;
    background-color: rgba(78, 78, 78, 0.45);
    border-radius: 8px;
    border: none;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 28px;
    color: #FFFFFF;
}

/* BOX2 + PLACES END */

/* BOX3 START */

.box3 {
    background-image: url(/img/BackGround/Fon\ Section\ 3.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 915px;
}

.about {}

.about__desc {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 125px 120px;
}

.about__tile {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 48px;
    line-height: 72px;
    color: #FFFFFF;
}

.about__info {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 275;
    font-size: 32px;
    line-height: 48px;
    color: #FFFFFF;
}

/* BOX3 END */